.footer{
    text-align: center;
    margin-top: 60px;
    padding: 20px;
    color: gray;
    letter-spacing: 2px;
    font-size: 1.1rem;
}
@media only screen and (min-Width:(768px)) and (max-width:(1024px)) {
    .footer{
    margin-top: 50px;
    padding: 18px;
    font-size: 1rem;
}
}
@media only screen and (max-width:768px){
   .footer{
    margin-top: 40px;
    padding: 15px;
    font-size: 0.9rem;
}
}